@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
        <title>Index</title>
    </head>
    <body>
        <h3>List Product</h3>
        <a asp-controller="product" asp-action="Add">Add product</a>
        <table border="1" cellpadding="2" cellspacing="2">
            <thead> 
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               @foreach(var prod in ViewBag.product)
               {
                   <tr>
                        <td>@prod.Id</td>
                        <td>@prod.Name</td>
                        <td>@prod.Price</td>
                        <td>@prod.Quantity</td>
                        <td>@prod.Status</td>
                        <td>
                            <!--
                            <a href="product/Destroy/@prod.Id"
                            onclick="return confirm('are you sure ?')">Delete</a>
                            <a href="product/Edit/@prod.Id">
                                Update
                            </a>   
                            -->
                            <a asp-controller="product" asp-action="Edit" 
                            asp-route-id="@prod.Id">Edit</a>

                            <a asp-controller="product" asp-action="Delete" 
                            asp-route-id="@prod.Id"
                            onclick="return confirm('yakin delete data @prod.Name')"
                            >Destroy</a>
                        </td>
                   </tr>
               }
            </tbody>
        </table>
    </body>
</html>